name: bluebuild
on:
  schedule:
    - cron: "00 17 * * *"
  push:
    paths-ignore:
      - "**.md"
  pull_request:
  workflow_dispatch:

jobs:
  bluebuild:
    name: Build Custom Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        recipe:
          - recipe.yml
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Install BlueBuild CLI
        run: |
          # Install the tool
          curl -Ls https://sh.blue-build.org/install | bash
          
          # Verify it exists
          ls -l $HOME/.local/bin/bluebuild

      - name: Build Image
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          # Run using the full path to guarantee it finds the command
          $HOME/.local/bin/bluebuild build ./recipes/${{ matrix.recipe }} \
            --registry ghcr.io \
            --push \
            --no-sign
