name: bluebuild
on:
  schedule:
    - cron: "00 17 * * *"
  push:
    paths-ignore:
      - "**.md"
  pull_request:
  workflow_dispatch:

jobs:
  bluebuild:
    name: Build Custom Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        recipe:
          - recipe.yml
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build Image
        uses: docker://ghcr.io/blue-build/cli:latest
        with:
          args: build ./recipes/${{ matrix.recipe }} --registry ghcr.io --push --no-sign
        env:
          # We need to pass the token so it can push to GHCR
          COSIGN_PRIVATE_KEY: "" # Explicitly empty to prevent key lookups
          GITHUB_TOKEN: ${{ github.token }}
