name: bluebuild
on:
  schedule:
    - cron: "00 17 * * *"
  push:
    paths-ignore:
      - "**.md"
  pull_request:
  workflow_dispatch:

jobs:
  bluebuild:
    name: Build Custom Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        recipe:
          - recipe.yml
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Install BlueBuild (Global)
        run: |
          # Download the installer
          curl -Ls https://sh.blue-build.org/install -o install_script.sh
          chmod +x install_script.sh
          
          # Run installer but force it to a specific location we control
          # We move the binary to /usr/local/bin so 'sudo' can see it
          ./install_script.sh
          sudo mv $HOME/.local/bin/bluebuild /usr/local/bin/bluebuild
          sudo chmod +x /usr/local/bin/bluebuild

      - name: Build Image (Verbose)
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          # Run as sudo to avoid permission errors with Docker/Podman
          # Use --debug to print EVERYTHING
          sudo /usr/local/bin/bluebuild build ./recipes/${{ matrix.recipe }} \
            --registry ghcr.io \
            --registry-namespace $(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]') \
            --push \
            --no-sign \
            --debug
