name: bluebuild
on:
  schedule:
    - cron: "00 17 * * *"
  push:
    paths-ignore:
      - "**.md"
  pull_request:
  workflow_dispatch:

jobs:
  bluebuild:
    name: Build Custom Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        recipe:
          - recipe.yml
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build Image (Force Shell)
        run: |
          # We force the container to open a shell and run our command
          # This bypasses the broken entrypoint/dumb-init errors
          docker run --rm \
            -v ${{ github.workspace }}:/github/workspace \
            -w /github/workspace \
            -e GITHUB_TOKEN=${{ github.token }} \
            -e COSIGN_PRIVATE_KEY="" \
            --entrypoint /bin/sh \
            ghcr.io/blue-build/cli:latest \
            -c "bluebuild build ./recipes/${{ matrix.recipe }} --registry ghcr.io --push --no-sign"
